body {
  background-color: #dcdee8;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
  height: 300px;
}

button {
  border-radius: 3.5rem;
  box-shadow: 1px 2px #af9e9e;
  margin: 0.3rem;
}
.resp-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 13rem;
}
.resp-item {
  padding: 1rem;
  width: 15rem;
  height: 4rem;
}

.resp-item:focus{
  background-color: #dcf5f3;
}

button:hover {
  background-color: #e5f1fd; 
}
button:focus {
  outline: none;
}
.yes {
  background-color: greenyellow;
}

.no {
  background-color: #ff000075;
}

.sidebar {
  width: 20rem;
  align-self: flex-start;
  margin-right: 30rem;
}

.stepper {
margin-right: 20rem;
}

@media (min-width: 900px) {
.resp-container {
  width: 65%;
}
}