.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
  height: 300px;
}

.yes {
  background-color: greenyellow;
}

.no {
  background-color: #ff000075;
}

button {
  border-radius: 3.5rem;
  box-shadow: 1px 2px #af9e9e;
}

.sidebar {
  width: 20rem;
  align-self: flex-start;
  margin-right: 30rem;
}